.map-container {
  width: 100%;
  height: 100%;
  position: absolute;
}

.map-container-responsive {
  width: auto;
  height: 400px;
  position: relative;
}

@media (max-width: 576) {
  .map-container-responsive {
    width: 400px;
  }
}
